*{
    padding: 0%;
    margin: 0%;
}
.head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content:flex-start;
    background-color: black;
    padding: 2%;
}
.text{
    /* background-color: aqua; */
    color: aliceblue;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}
.comp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.pes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.robo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.edit{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
